.company-logo{
    width: 65px;
    height: 65px;
}

.exp-header{
    padding: 0px 5px 0px 3px !important;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 2em;
}