<div class="mt-custom" fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="1em">
    <div class="text-large fw-300">Licenses and Certifications</div>
    <div class="text-medlarge fw-300">Certifications</div>
    <div fxLayout="row wrap" fxLayoutGap="1em grid">
        <app-certificate-card [certificate]="course" *ngFor="let course of certifications" fxFlex></app-certificate-card>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="text-medlarge fw-300">Specializations</div>
    <div fxLayout="row wrap" fxLayoutGap="1em grid">
        <app-certificate-card [certificate]="course" *ngFor="let course of specializations" fxFlex></app-certificate-card>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="text-medlarge fw-300">Courses</div>
    <div fxLayout="row wrap" fxLayoutGap="1em grid" fxFill>
        <app-certificate-card [certificate]="course" *ngFor="let course of courses" fxFlex></app-certificate-card>
    </div>
    <mat-divider class="divider"></mat-divider>
</div>