<div class="mt-custom" fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="1em">
    <div id="#experience" fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="0.3em" fxFill>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.2em">
            <div class="text-large fw-300">Experience</div>
            <!-- <a mat-icon-button href="/about#experience"><mat-icon>link</mat-icon></a> -->
        </div>
        <!-- <mat-divider class="title-line"></mat-divider> -->
        <div *ngFor="let cpy of companies" style="padding: 10px 0;">
            <app-experience-card [company]="cpy"></app-experience-card>
        </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div id="education" fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="0.3em" fxFill>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.2em">
            <div class="text-large fw-300">Education</div>
            <!-- <a mat-icon-button href="/about#education"><mat-icon>link</mat-icon></a> -->
        </div>
        <!-- <mat-divider class="title-line"></mat-divider> -->
        <div *ngFor="let inst of institutions" style="padding: 10px 0;">
            <app-education-card [institution]="inst"></app-education-card>
        </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div id="skills" fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="0.3em" fxFill>
        <div class="text-large fw-300">Technical Skills</div>
        <div fxLayout="row wrap" fxLayoutGap="1em grid">
            <app-skill-card *ngFor="let sk of skills" [skill]="sk" fxFlex></app-skill-card>
        </div>
    </div>
</div>