<div class="banner">
</div>
<div class="name_card">
    <mat-card class="image-card mat-elevation-z10">
        <img src="assets/images/profile.jpg" alt="Profile picture" class="profile_image">
    </mat-card>
    <span class="name mat-display-2 fw-300">Nikhil Kumar</span>
</div>
<div class="profile_intro mat-h1 fw-300">
    CS Undergrad at College of Engineering Guindy | Web Developer | Photographer | Motorcycle Enthusiast | AvGeek
</div>
<div class="buttons">
    <a mat-flat-button [routerLink]="['/about']" class="scroll_banner fw-300 btn-primary">More about me</a>
    <a mat-flat-button href="https://docs.google.com/document/d/1_sQoLjKgs-igOZQHC4IyiPWcIMsQN12r9oI3S9tvnP0/edit?usp=sharing" target="_blank" class="scroll_banner fw-300 btn-primary">Get my Resume</a>
</div>
<div class="profiletray" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3vw">
    <app-profile-fab *ngFor="let data of profileData" [profileData]="data"></app-profile-fab>
</div>