.btn-primary{
    background: #009fff !important;
    color: white !important;
}

.btn-accent{
    background: #ec2f4b !important;
    color: white !important;
}

.btn-flat-primary{
    color: #009fff !important;
}

.btn-flat-accent{
    color: #ec2f4b !important;
}