<mat-card class="mat-elevation-z3 card cert" fxFlex>
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="0.3em" fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="text-medium fw-400">{{ certificate.course }}</div>
            <!-- <app-status [status]="certificate.status"></app-status> -->
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0.5em">
                <img [src]="prv.image" *ngFor="let prv of certificate.providers" class="provider-img mat-elevation-z3" [matTooltip]="prv.name">
            </div>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0.5em">
            <img [src]="prv.image" *ngFor="let prv of certificate.providers" class="provider-img mat-elevation-z3" [matTooltip]="prv.name">
        </div> -->
        <div class="text-small fw-300" *ngIf="certificate.status==2">Ongoing</div>
        <div class="text-small fw-300" *ngIf="certificate.status==3">Issued on {{ certificate.doi }}</div>
        <div class="text-small fw-300" *ngIf="certificate.status==3">Credential ID: {{ certificate.cred_id }}</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="certificate.status==3">
            <a color="primary" [href]="certificate.verify_link" class="fw-400 link" fxLayout="row" fxLayoutAlign="center center" target="_blank" *ngIf="certificate.verify_link">See credential</a>
            <a color="primary" [href]="certificate.view_link" class="fw-400 link" fxLayout="row" fxLayoutAlign="center center" target="_blank" *ngIf="certificate.view_link">View certificate</a>
        </div>
    </div>
</mat-card>