.status{
    padding: 0.5em 0.6em;
    border-radius: 15px;
    font-size: 0.8em;
    margin: 0 1em;
    color: white;
    height: 2.2em;
}

.completed{
    background: #72c71e;
}

.ongoing{
    background: #2d82b5;
}

.dropped{
    background: #e53935;
}

.upcoming{
    background: #a7bbc7;
}