.facebook>a>svg:hover{
    fill: #4267B2;
}

.linkedin>a>svg:hover{
    fill: #2867B2;
}

.instagram>a>svg:hover{
    fill: #e95950;
}

.twitter>a>svg:hover{
    fill: #1DA1F2;
}

.github>a>svg:hover{
    fill: #7DBBE6;
}

.institution_logo{
    width: 60px;
    height: 60px;
}

.skill_logo{
    width: 70px;
    height: 70px;
}

.suncloud{
    display: none;
}

@media(min-width: 760px){
    .skill_logo{
        width: 130px;
        height: 130px;
    }
}

@media(min-width: 1024px){
    .suncloud{
        display: block;
    }
    #lightsun{
        position: absolute;
        top: 9vh;
        left: 9vw;
        width: 10em;
        height: 10em;
    }
    
    .cloud{
        width: 14em;
        height: 14em;
    }

    #cloud1{
        position: absolute;
        top: 7vh;
        left: 10vw;
    }

    #cloud2{
        position: absolute;
        top: 10vh;
        left: 4vw;
        /* transform: rotate(11deg); */
    }
    
}