.textcolor{
    color : #ffffff;
}

.bgcolor{
    background: #ffffff;
}

div.banner:before{
    background: #ffffff;
}

.iconcolor>a{
    fill: #00C6FF !important;
}

.card{
    background: #ffffff;
}

.timeline{
    border-left: 3px solid #ffffff;
}

.timeline_event::before{
    background: #ffffff;
    border: 2px solid #222831;
}