<div class="header-container">
    <mat-toolbar color="primary" class="toolbar" [ngClass]="{'is-transparent':!isNotHome}">
        <button mat-button class="menu_icon" *ngIf="isNotHome" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a *ngIf="isNotHome" [routerLink]="['/home']" style="padding: 0.5em;" class="fw-300">Nikhil Kumar's Portfolio</a>
        <div style="flex: auto;"></div>
        <button mat-icon-button (click)="changeTheme()" matTooltip="Change to {{isLightTheme?'dark':'light'}} theme">
            <mat-icon *ngIf="!isLightTheme">light_mode</mat-icon>
            <mat-icon *ngIf="isLightTheme">dark_mode</mat-icon>
        </button>
        <a mat-button fxLayout="row" fxLayoutAlign="center center" href="https://github.com/nikki9119/nikki9119.github.io" target="_blank" matTooltip="GitHub repo">
            <span [inlineSVG]="'github-logo-1.svg'" class="gitlogo"></span>
            <span style="padding: 0 0 0 0.5em;">GitHub</span>
        </a>
    </mat-toolbar>
    <mat-sidenav-container class="mat-app-background" [ngClass]="{'light-theme':isLightTheme}">
        <mat-sidenav
            #drawer
            fixedInViewport
            [mode] = "(isHandset$ | async)?'over':'side'"
            [opened] = "isNotHome && !(isHandset$ | async)"
            class = "sidenav"
        >
        <mat-nav-list fxLayout="column" fxLayoutAlign="space-evenly">
            <a routerLink="home" routerLinkActive="link-active" mat-list-item>
                <mat-icon class="link-icon">home</mat-icon>
                <div class="fw-400 text-small">Home</div>
                <div style="flex: 1 1 auto;"></div>
                <div class="rectangle"></div>
            </a>
            <a routerLink="about" routerLinkActive="link-active" mat-list-item>
                <mat-icon class="link-icon">info</mat-icon>
                <div class="fw-400 text-small">About</div>
                <div style="flex: 1 1 auto;"></div>
                <div class="rectangle"></div>
            </a>
            <!-- <a routerLink="projects" routerLinkActive="link-active" mat-list-item class="fw-400">
                <mat-icon class="link-icon">laptop_windows</mat-icon>
                <div class="fw-400 text-small">Projects</div>
                <div style="flex: 1 1 auto;"></div>
                <div class="rectangle"></div>
            </a> -->
            <a routerLink="certificates" routerLinkActive="link-active" mat-list-item>
                <mat-icon class="link-icon">stars</mat-icon>
                <div class="fw-400 text-small">Certifications</div>
                <div style="flex: 1 1 auto;"></div>
                <div class="rectangle"></div>
            </a>
        </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>