<!-- <mat-card class="mat-elevation-z3 card">
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <img [src]="skill.logo" [alt]="skill.alt" class="skill-logo">
            <div class="text-medlarge fw-300">{{ skill.skill }}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.2em">
            <img src="assets/images/star.png" alt="star" class="star" *ngFor="let item of arr">
            <img src="assets/images/half-star.png" alt="half-star" class="star" *ngIf="part">
        </div>
    </div>
</mat-card> -->

<mat-card class="mat-elevation-z3 card">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
        <img [src]="skill.logo" [alt]="skill.alt" class="skill-logo">
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <div class="text-medlarge fw-300">{{ skill.skill }}</div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.2em">
                <img src="assets/images/star.png" alt="star" class="star" *ngFor="let item of arr">
                <img src="assets/images/half-star.png" alt="half-star" class="star" *ngIf="part">
            </div>
        </div>
    </div>
</mat-card>

<!-- <mat-card class="mat-elevation-z3 card">
    <div fxLayout="column" fxLayoutAlign="center center">
        <img [src]="skill.logo" [alt]="skill.alt" class="skill-logo" fxFlexOffset="-1em">
        <div class="text-large fw-300">{{ skill.skill }}</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.2em">
            <img src="assets/images/star.png" alt="star" class="star" *ngFor="let item of arr">
            <img src="assets/images/half-star.png" alt="half-star" class="star" *ngIf="part">
        </div>
    </div>
</mat-card> -->